.filter-btn {
  font-size: 36px;
  width: 80px;
  height: 80px;
  position: fixed;
  bottom: 50px;
  left: 50px;
  border-radius: 50%;
  border: none;
  background-color: var(--primaryColor);
  cursor: pointer;
  box-shadow: 1px 2px 15px 5px rgb(0 0 0 / 50%);
  z-index: 2;
}

.filter-option-btn-clear {
  margin-left: 5px !important;
  margin-right: 5px !important;
  background-color: transparent;
  border: 2px solid #212121 !important;
}

.filter-option-btn-search {
  color: green !important;
  border: 2px solid green !important;
}

@media screen and (min-width: 576px) {
  .filterModal {
    max-width: 60% !important;
  }
}

@media screen and (max-width: 576px) {
  .modal-content {
    height: 98vh;
  }

  .filter-btn {
    font-size: 25px;
    width: 60px;
    height: 60px;
  }
}

@media screen and (max-width: 820px) {
  .filterModalBody {
    height: 50vh;
  }
}
