.menu-container {
  position: relative;
  top: 12vh;
}

.shoppingContainer {
  /* width: 85% !important; */
  position: relative;
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.materialInput {
  color: var(--text-primaryColor) !important;
}

.menuHeading {
  width: 100%;
  text-align: center;
}

.menu-container .MuiGrid-spacing-xs-4 {
  width: 100% !important;
  margin: 0px !important;
}

.menu-container .MuiGrid-spacing-xs-4 > .MuiGrid-item {
  padding: 30px !important;
}

@media screen and (max-width: 1200px) {
  .shoppingContainer {
    width: 100% !important;
  }

  .filterContainer {
    width: 0%;
    display: none !important;
  }

  .menu-container .MuiGrid-spacing-xs-4 {
    margin: 0px !important;
    margin-top: 30px !important;
  }
}

@media screen and (max-width: 920px) {
  .filterContainer {
    width: 0%;
    display: none !important;
  }
}
