.shoppingContainer {
  /* width: 85% !important; */
  position: absolute;
  padding-left: 20px !important;
  padding-right: 20px !important;
  top: 12vh;
}

.filterContainer {
  display: flex;
  flex-direction: column;
  width: 13%;
  position: fixed;
  left: 20px;
  top: 12vh;
  padding-right: 20px;
  border-right: inset;
  height: 85vh;
}

.filterHeadings {
  text-align: center;
  font-size: calc(20px + 0.361vw - 3.46921px) !important;
}
.materialInput {
  color: var(--text-primaryColor) !important;
}

@media screen and (max-width: 1200px) {
  .shoppingContainer {
    width: 100% !important;
    right: 17px;
  }

  .filterContainer {
    width: 0%;
    display: none !important;
  }
}

@media screen and (max-width: 920px) {
  .filterContainer {
    width: 0%;
    display: none !important;
  }
}
