.navbar {
  background-color: var(--secondary-color);
  display: flex;
  align-items: center;
  position: fixed !important;
  width: 80%;
  align-items: center;
  height: 60px;
  background-color: white;
  border-radius: 40px;
  margin-left: 10%;
  margin-top: 10px;
  box-shadow: 0px 0px 15px 0px black;
  z-index: 1000;
}

.nav-item .active {
  color: green !important;
}

.nav-link {
  border-radius: 35px;
}

.hamburger-menu {
  margin-top: 5px;
  margin-right: 25px;
  cursor: pointer;
}

.nav-link,
.navbar-brand {
  color: var(--text-secondary-color) !important;
  font-weight: bold;
}

.nav-link {
  margin-left: 5px;
  margin-right: 5px;
}

.navbar-brand {
  margin-left: 30px;
}

.navbar-nav {
  display: flex;
  width: 95%;
  place-content: flex-end !important;
}

.nav-item {
  position: relative;
}

.nav-item:hover {
  color: green;
  animation: 0.3s miniJump ease;
  filter: blur(0.2px);
}

/* menu */
/* GENERAL STYLES */
.visuallyHidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

h1 {
  text-align: center;
}

.container {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.hamburger {
  margin: 0 auto;
  width: 20px;
  height: 20px;
  position: relative;
}

.hamburger .bar {
  padding: 0;
  width: 20px;
  height: 4px;
  background-color: black;
  display: block;
  border-radius: 4px;
  transition: all 0.4s ease-in-out;
  position: absolute;
}

.bar1 {
  top: 0;
}

.bar2,
.bar3 {
  top: 8px;
}

.bar3 {
  right: 0;
}

.bar4 {
  bottom: 0;
}

.checkbox1:checked + label > .hamburger1 > .bar1 {
  transform: rotate(45deg);
  transform-origin: 5%;
  width: 25px;
}

.checkbox1:checked + label > .hamburger1 > .bar2 {
  transform: translateX(-40px);
  background-color: transparent;
}

.checkbox1:checked + label > .hamburger1 > .bar3 {
  transform: translateX(40px);
  background-color: transparent;
}

.checkbox1:checked + label > .hamburger1 > .bar4 {
  transform-origin: 5%;
  transform: rotate(-45deg);
  width: 25px;
}
