.navbar {
  background-color: var(--secondary-color);
  display: flex;
  align-items: center;
  position: fixed !important;
  width: 80%;
  align-items: center;
  height: 60px;
  background-color: white;
  border-radius: 40px;
  margin-left: 10%;
  margin-top: 10px;
  box-shadow: 0px 0px 15px 0px black;
  z-index: 1000;
}

.nav-item .active {
  color: green !important;
}

.nav-link {
  border-radius: 35px;
}

.navbar-toggler {
  margin-right: 30px;
  cursor: pointer;
}

.nav-link,
.navbar-brand {
  color: var(--text-secondary-color) !important;
  font-weight: bold;
}

.nav-link {
  margin-left: 5px;
  margin-right: 5px;
}

.navbar-brand {
  margin-left: 30px;
}

.navbar-nav {
  display: flex;
  width: 95%;
  place-content: flex-end !important;
}

.nav-item {
  position: relative;
}

.nav-item:hover {
  color: green;
  animation: 0.3s miniJump ease;
  filter: blur(0.2px);
}
