:root {
  --primary-color: black;
  --secondary-color: white;
  --text-primary-color: white;
  --text-secindary-color: black;
  --primaryColor: green;
  --secondaryColor: black;
  --text-primaryColor: black;
  --text-secondaryColor: white;
}

/* Hide scrollbar for Chrome, Safari and Opera */
:root::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
:root {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

* {
  z-index: 1;
}

input[type="text"]:focus:not([readonly]) + label {
  color: var(--primaryColor) !important;
}
input[type="text"]:focus:not([readonly]) {
  border-bottom: 1px solid var(--primaryColor) !important;
  box-shadow: 0 1px 0 0 var(--primaryColor) !important;
}

/* .custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: var(--primaryColor) !important;
  border-color: black !important;
} */

/* .custom-checkbox
  .custom-control-input:checked:focus
  ~ .custom-control-label::before {
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(51, 51, 51, 0.25);
}
.custom-checkbox .custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(0, 0, 0, 0.25);
}
.custom-checkbox .custom-control-input:active ~ .custom-control-label::before {
  background-color: var(--primaryColor) !important;
} */

/*Input label color*/
.MuiInput-underline:after {
  border-bottom: 2px solid green !important;
}
.MuiFormLabel-root.Mui-focused {
  color: green !important;
}

.MuiButton-containedPrimary {
  color: black !important;
  background-color: peachpuff !important;
}

/*Input label color*/
.MuiInput-underline:after {
  border-bottom: 2px solid green !important;
}
.MuiFormLabel-root.Mui-focused {
  color: green !important;
}

.close {
  background-color: transparent;
  border: 0;
  appearance: none;
}

@keyframes jumpLetter {
  0% {
    top: 0px;
  }
  25% {
    top: 10px;
  }
  50% {
    top: -20px;
  }
  75% {
    top: 10px;
  }
  100% {
    top: 0px;
  }
}

@keyframes miniJump {
  0% {
    top: 0px;
  }
  50% {
    top: -4px;
  }
  100% {
    top: 0px;
  }
}

@keyframes pulses {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.5;
    transform: rotate(-2deg) scale(5);
    transition: all 0.3s cubic-bezier(0.6, 0.04, 0.98, 0.335);
  }
  100% {
    opacity: 1;
    transform: rotate(-15deg) scale(1);
  }
}

@keyframes pulse-mini {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.5;
    transform: rotate(-2deg) scale(5) translate(50%, 0%);
    transition: all 0.3s cubic-bezier(0.6, 0.04, 0.98, 0.335);
  }
  100% {
    opacity: 1;
    transform: rotate(-15deg) scale(1) translate(50%, 0%);
  }
}

@keyframes updown {
  0%,
  100% {
    top: 0%;
  }
  50% {
    top: 4%;
  }
}
