:root {
  --primary-color: black;
  --secondary-color: white;
  --text-primary-color: white;
  --text-secindary-color: black;
}

/* Hide scrollbar for Chrome, Safari and Opera */
:root::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
:root {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

* {
  z-index: 1;
}

/*Input label color*/
.MuiInput-underline:after {
  border-bottom: 2px solid green !important;
}
.MuiFormLabel-root.Mui-focused {
  color: green !important;
}
